@page "/suscripcion/{UserName}/gestionar"
@inject HttpClient Http
@inject IJSRuntime JS

<div class="container">
    <br />
    @if (response.Suscripciones == null)
    {
        <text> Cargando </text>
    }
    else if (response.Suscripciones.Count == 0 && response.User != null)
    {
        <EditForm Model="@response">
            <div class="row">
                <div class="col-sm-10">
                    <h1>Gestion de suscripciones</h1>
                </div> <div class="col-sm-2">
                    <a class="btn btn-success" href="suscripcion/@response.User.Id/nuevo-cobro">Solicitud de pago</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Email usuario:</label>
                        <div>
                            <InputText class="form-control" @bind-Value="@response.User.Email" />
                            <ValidationMessage For="@(() => response.User.Email)" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label>Nombre usuario:</label>
                    <div>
                        <InputText class="form-control" @bind-Value="@response.User.UserName" />
                        <ValidationMessage For="@(() => response.User.UserName)" />
                    </div>
                </div>
            </div>
        </EditForm>

        <table class="table">
            <thead>
                <tr>
                    <th>Fecha emision</th>
                    <th>Fecha pago</th>
                    <th>Categoria</th>
                    <th>Forma de pago</th>
                    <th>Estado</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    }
    else
    {
        <div class="row">
            <div class="col-sm-10">
                <h1>Gestion de suscripciones</h1>
            </div> <div class="col-sm-2">
                <a class="btn btn-success" href="suscripcion/@response.User.Id/nuevo-cobro">Solicitud de pago</a>
            </div>
        </div>

        <EditForm Model="@response">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Email usuario:</label>
                        <div>
                            <InputText class="form-control" @bind-Value="@response.User.Email" />
                            <ValidationMessage For="@(() => response.User.Email)" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label>Nombre usuario:</label>
                    <div>
                        <InputText class="form-control" @bind-Value="@response.User.UserName" />
                        <ValidationMessage For="@(() => response.User.UserName)" />
                    </div>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Fecha emision</th>
                        <th>Fecha pago</th>
                        <th>Categoria</th>
                        <th>Forma de pago</th>
                        <th>Estado</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var response in response.Suscripciones)
                    {
                    <tr>
                        @if (response.FechaEmision == DateTime.MinValue)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td> @response.FechaEmision.ToString("dd/MM/yyyy")</td>
                        }
                        @if (response.FechaEmision == response.FechaPago)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td>@response.FechaPago.ToString("dd/MM/yyyy")</td>
                        }
                        <td> @response.Categoria.Descripcion</td>
                        @if (response.FormaDePagoId != 1)
                        {
                            <td> @response.FormaDePago.Descripcion</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        <td> @response.Estado</td>
                        <td> $@response.Categoria.Costo</td>
                        <td> <button class="btn btn-danger" @onclick="@(() => AnularSuscripcion(response.Id))">X</button></td>
                    </tr>
                    }
                </tbody>
            </table>
        </EditForm>
    }
</div>

@code
{
    [Parameter] public string UserName { get; set; }

    private ResponseSuscripcion response { get; set; } = new ResponseSuscripcion();

    protected override async Task OnInitializedAsync()
    {
        await CargarSuscripciones();
    }
    async Task CargarSuscripciones()
    {
        response = await Http.GetFromJsonAsync<ResponseSuscripcion>($"Suscripcion/por-cliente/{UserName}");
    }
    async Task AnularSuscripcion(int idSuscripcion)
    {
        var solicitudSeleccionada = response.Suscripciones.First(x => x.Id == idSuscripcion);
        string mensajeConfirmacion = $"¿Anular la solicitud de pago numero {solicitudSeleccionada.Id}?";
        if (await JS.InvokeAsync<bool>("confirm", mensajeConfirmacion))
        {
            await Http.DeleteAsync($"suscripcion/{idSuscripcion}");
            await CargarSuscripciones();
        }

    }
}