@inject HttpClient http

<EditForm Model="@Silo" OnValidSubmit="@OnValidSubmit">
    <div class="form-group">
        <label>Descripción:</label>
        <div>
            <InputText class="form-control" @bind-Value="@Silo.Descripcion" />
            <ValidationMessage For="@(() => Silo.Descripcion)" />
        </div>
    </div>

    <div class="form-group">
        <label>Campo</label>
        <div>
            <InputSelectNumber class="form-control"
                              @bind-Value="Silo.CampoID">
                <option value="0">-- Seleccione un Campo --</option>
                @foreach (var item in Campos)
                {
                    @if (item.Id == campoId)
                    {
                        <option selected value="@item.Id">@item.Descripcion</option>
                    }
                    else
                    {
                        <option value="@item.Id">@item.Descripcion</option>
                    }
                }
            </InputSelectNumber>
        </div>
    </div>
    <button type="submit" class="btn btn-success">@TextoBoton</button>
    <DataAnnotationsValidator />
</EditForm>
@code {
    [Parameter] public Silo Silo { get; set; } = new Silo();
    [Parameter] public string TextoBoton { get; set; } = "Guardar cambios";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
    List<Campo> Campos = new List<Campo>();
    private int campoId = 0;

    protected override async Task OnInitializedAsync()
    {
        Campos = await http.GetFromJsonAsync<List<Campo>>("campos");
    }
}
