@inject HttpClient http

<EditForm Model="@Dispositivo" OnValidSubmit="@OnValidSubmit">
    <div class="form-group">
        <label>Numero de serie:</label>
        <div>
            <InputText class="form-control" @bind-Value="@Dispositivo.MAC" />
            <ValidationMessage For="@(() => Dispositivo.MAC)" />
        </div>
        <label>Descripción:</label>
        <div>
            <InputText class="form-control" @bind-Value="@Dispositivo.Descripcion" />
            <ValidationMessage For="@(() => Dispositivo.Descripcion)" />
        </div>

    </div>

    <div class="form-group">
        <label>Campo</label>
        <div>
            <InputSelectNumber class="form-control"
                               ValueChanged="@((int value) => ValorCampoCambiado(value))"
                               ValueExpression="@(() => campoId )"
                               Value="campoId">
                <option value="0">-- Seleccione un Campo --</option>
                @foreach (var item in Campos)
                {
                    @if (item.Id == campoId)
                    {
                        <option selected value="@item.Id">@item.Descripcion</option>
                    }
                    else
                    {
                        <option value="@item.Id">@item.Descripcion</option>
                    }
                }
            </InputSelectNumber>
        </div>
    </div>

    <div class="form-group">
        <label>Silo</label>
        <div>
            <InputSelectNumber class="form-control"
                               @bind-Value="Dispositivo.SiloId">
                <option value="0">-- Seleccione un Silo --</option>
                @foreach (var item in Silos)
                {
                    @if (item.Id == Dispositivo.SiloId)
                    {
                        <option selected value="@item.Id">@item.Descripcion</option>
                    }
                    else
                    {
                        <option value="@item.Id">@item.Descripcion</option>
                    }
                }
            </InputSelectNumber>
            <ValidationMessage For="@(() => Dispositivo.SiloId)" />
        </div>
    </div>
    <button type="submit" class="btn btn-success">@TextoBoton</button>
    <DataAnnotationsValidator />
</EditForm>
@code {
    [Parameter] public Dispositivo Dispositivo { get; set; } = new Dispositivo();
    [Parameter] public string TextoBoton { get; set; } = "Guardar cambios";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
    List<Silo> Silos = new List<Silo>();
    List<Campo> Campos = new List<Campo>();
    private int campoId = 0;

    protected override async Task OnInitializedAsync()
    {
        if (Dispositivo.Silo != null)
        {
            campoId = Dispositivo.Silo.CampoID;
            await CargarSilos(Dispositivo.Silo.CampoID);
        }

        Campos = await http.GetFromJsonAsync<List<Campo>>("campos");
    }
    private async Task ValorCampoCambiado(int value)
    {
        this.Dispositivo.SiloId = 0;
        campoId = value;

        await InvokeAsync(StateHasChanged);

        if (value == 0)
        {
            Silos.Clear();
        }
        else
        {
            await CargarSilos(value);
        }
    }
    private async Task CargarSilos(int campoId)
    {
        Silos = await http.GetFromJsonAsync<List<Silo>>($"campos/{campoId}/silos");
    }
}
