@page "/estadisticas"
@inject HttpClient Http
@inject IJSRuntime JsRunT
<div class="container">
    <br />
    <h2 class="text-center">Estadisticas de los campos</h2>
    <EditForm Model="@campo">
        <div class="form-group">
            <h5 class="text-center">Campo</h5>
            <div>
                <InputSelectNumber class="form-control"
                                   @bind-Value="campo">
                    <option value="0">-- Seleccione un Campo --</option>
                    @foreach (var campo in Campos)
                    {
                        @if (campo.Id == campoId)
                        {
                            <option selected value="@campo.Id">@campo.Descripcion</option>
                        }
                        else
                        {
                            <option value="@campo.Id">@campo.Descripcion</option>
                        }
                    }
                </InputSelectNumber>
            </div>
        </div>
        <DataAnnotationsValidator />
    </EditForm>

    <div id="chartDiv" style="height: 400px;"></div>
</div>

@code {
    List<Campo> Campos = new List<Campo>();
    private int campoId = 0;
    private int campo;
    Silo silo = new Silo();

    private int PointCount = 123;

    protected override async Task OnInitializedAsync()
    {
        Campos = await Http.GetFromJsonAsync<List<Campo>>("campos");

        double[] ys = new double[15] { 20, 23, 24, 31, 12, 23, 20, 19, 20, 23, 24, 26, 28, 30, 28 };
        double[] xs = new double[15] { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15 };
        PlotData(xs, ys);
    }

    private void PlotData(double[] xs, double[] ys)
    {
        JsRunT.InvokeVoidAsync("generateChart", new { xs, ys });
    }


}
