@page "/estadisticas"
@inject HttpClient Http
@inject IJSRuntime JsRunT
<div class="container">
    <br />
    <h2 class="text-center">Estadisticas de los campos</h2>

    <EditForm Model="@Dispositivo">
        <div class="row">
            <div class="col-sm-5">
                <h5 class="text-center">Campo</h5>
                <div class="form-group">
                    <div>
                        <InputSelectNumber class="form-control"
                                           ValueChanged="@((int valueCampo) => ValorCampoCambiado(valueCampo))"
                                           ValueExpression="@(() => campoId )"
                                           Value="campoId">
                            <option value="0">-- Seleccione un Campo --</option>
                            @foreach (var item in Campos)
                            {
                                @if (item.Id == campoId)
                                {
                                    <option selected value="@item.Id">@item.Descripcion</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Descripcion</option>
                                }
                            }
                        </InputSelectNumber>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <h5 class="text-center">Silo</h5>
                <div class="form-group">
                    <div>
                        <InputSelectNumber class="form-control"
                                           ValueChanged="@((int valueSilo) => ValorSiloCambiado(valueSilo))"
                                           ValueExpression="@(() => siloId )"
                                           Value="siloId">
                            <option value="0">-- Seleccione un Silo --</option>
                            @foreach (var item in Silos)
                            {
                                @if (item.Id == siloId)
                                {
                                    <option selected value="@item.Id">@item.Descripcion</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Descripcion</option>
                                }
                            }
                        </InputSelectNumber>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <h5 class="text-center">Tiempo</h5>
                <div class="form-group">
                    <div>
                        <InputSelectNumber class="form-control"
                                           ValueChanged="@((int dias) => ValorDiasCambiado(dias))"
                                           ValueExpression="@(() => diasCantidad)"
                                           Value="diasCantidad">
                            <option value="15">15 días</option>
                            <option value="30">1 mes</option>
                            <option value="60">2 meses</option>
                            <option value="90">3 meses</option>
                            <option value="120">6 meses</option>
                        </InputSelectNumber>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class=" text-center">
                    <h5 class="text-center">Parametros</h5>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-primary" @onclick="Temperatura">Temperatura</button>
                        <button type="button" class="btn btn-primary" @onclick="Humedad">Humedad</button>
                        <button type="button" class="btn btn-primary" @onclick="CO2">Dióxido de carbono</button>
                    </div>
                </div>
            </div>
        </div>
        
    </EditForm>
    <div id="chartDiv" style="height: 500px;"></div>
</div>

@code {
    List<Campo> Campos = new List<Campo>();
    List<Silo> Silos = new List<Silo>();
    ResponseChart response = new ResponseChart();
    Dispositivo Dispositivo = new Dispositivo();
    private int campoId = 0;
    private int siloId = 0;
    private int diasCantidad = 15;

    private double[] temperatura;
    private double[] humedad;
    private double[] co2;

    private double[] dias;

    protected override async Task OnInitializedAsync()
    {
        Campos = await Http.GetFromJsonAsync<List<Campo>>("campos");

        ValorDiasCambiado(90);
    }
    private async Task ValorCampoCambiado(int valueCampo)
    {
        this.Dispositivo.SiloId = 0;
        campoId = valueCampo;

        await InvokeAsync(StateHasChanged);

        if (valueCampo == 0)
        {
            Silos.Clear();
        }
        else
        {
            await CargarSilos(valueCampo);
        }
    }
    private async Task CargarSilos(int campoId)
    {
        Silos = await Http.GetFromJsonAsync<List<Silo>>($"campos/{campoId}/silos");
    }
    private async Task ValorSiloCambiado(int valueSilo)
    {
        siloId = valueSilo;
        response = new ResponseChart();
        response = await Http.GetFromJsonAsync<ResponseChart>($"Silos/GetSiloChart/{valueSilo}&{this.diasCantidad}");
    }
    private void ValorDiasCambiado(int cantidadDias)
    {
        diasCantidad = cantidadDias;
        dias = new double[cantidadDias];
        for (int i = 1; i <= cantidadDias; i++)
            dias[i - 1] = i;
    }
    private void PlotData(double[] xs, double[] ys, string tiempo, string valor)
    {
        JsRunT.InvokeVoidAsync("generateChart", new { xs, ys, tiempo, valor });
    }
    private void Temperatura()
    {
        PlotData(dias, response.temperatura, "Dias", "Temperatura");
    }
    private void Humedad()
    {
        PlotData(dias, response.humedad, "Dias", "Humedad");
    }
    private void CO2()
    {
        PlotData(dias, response.co2, "Dias", "CO2");
    }

}
