<EditForm Model="@Campo" OnValidSubmit="@OnValidSubmit">
    <div class="form-fiel">
        <label>Descripción:</label>
        <div>
            <InputText class="form-control" @bind-Value="@Campo.Descripcion" />
            <ValidationMessage For="@(() => Campo.Descripcion)" />
        </div>
    </div>
    <button type="submit" class="btn btn-success">@TextoBoton</button>
    <DataAnnotationsValidator />
</EditForm>
@code {
    [Parameter] public Campo Campo { get; set; } = new Campo();
    [Parameter] public string TextoBoton { get; set; } = "Guardar cambios";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}