@inject HttpClient http

<EditForm Model="@Silo" OnValidSubmit="@OnValidSubmit">
    <br />
    <div class="form-group">
        <label>Descripción:</label>
        <div>
            <InputText class="form-control" @bind-Value="@Silo.Descripcion" />
            <ValidationMessage For="@(() => Silo.Descripcion)" />
        </div>
    </div>
    <div class="form-group">
        <label>MAC:</label>
        <div>
            <InputText class="form-control" @bind-Value="@Silo.MAC" />
            <ValidationMessage For="@(() => Silo.MAC)" />
        </div>
    </div>
    <div class="form-group">
        <label>Campo</label>
        <div>
            <InputSelectNumber class="form-control"
                               @bind-Value="Silo.CampoID">
                <option value="0">-- Seleccione un Campo --</option>
                @foreach (var campo in Campos)
                {
                    @if (campo.Id == campoId)
                    {
                        <option selected value="@campo.Id">@campo.Descripcion</option>
                    }
                    else
                    {
                        <option value="@campo.Id">@campo.Descripcion</option>
                    }
                }
            </InputSelectNumber>
        </div>
    </div>

    <div class="form-group">
        <label>Grano</label>
        <div>
            <InputSelectNumber class="form-control"
                               @bind-Value="Silo.GranoID">
                <option value="0">-- Seleccione un Grano --</option>
                @foreach (var grano in Granos)
                {
                    @if (grano.Id == granoId)
                    {
                        <option selected value="@grano.Id">@grano.Descripcion</option>
                    }
                    else
                    {
                        <option value="@grano.Id">@grano.Descripcion</option>
                    }
                }
            </InputSelectNumber>
        </div>
    </div>

    <button type="submit" class="btn btn-success">@TextoBoton</button>
    <DataAnnotationsValidator />
</EditForm>
@code {
    [Parameter] public Silo Silo { get; set; } = new Silo();
    [Parameter] public string TextoBoton { get; set; } = "Guardar cambios";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
    List<Campo> Campos = new List<Campo>();
    List<Grano> Granos = new List<Grano>();
    private int campoId = 0;
    private int granoId = 0;

    protected override async Task OnInitializedAsync()
    {
        if (Silo.Grano != null)
            granoId = Silo.GranoID;
        if (Silo.Campo != null)
            campoId = Silo.CampoID;
        Campos = await http.GetFromJsonAsync<List<Campo>>("campos");
        Granos = await http.GetFromJsonAsync<List<Grano>>("granos");
    }
}
