@inject HttpClient Http
@inject NavigationManager NavManager
@page "/suscripcion/nuevo-pago"
<EditForm Model="@suscripcion">
    <div class="container">
        <br />
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Email usuario:</label>
                    <div>
                        <InputDate class="form-control" @bind-Value="@suscripcion.Fecha" />
                        <ValidationMessage For="@(() => suscripcion.Fecha)" />
                    </div>
                </div>
                <div class="form-group">
                    <InputSelectNumber class="form-control"
                                       @bind-Value="suscripcion.CategoriaId">
                        <option value="0">-- Seleccione una Categoria --</option>
                        @foreach (var item in Categorias)
                        {
                            @if (item.Id == categoriaId)
                            {
                                <option selected value="@item.Id">@item.Descripcion</option>
                            }
                            else
                            {
                                <option value="@item.Id">@item.Descripcion</option>
                            }
                        }
                    </InputSelectNumber>
                    <ValidationMessage For="@(() =>suscripcion.CategoriaId)" />
                </div>
                <div class="form-group">
                        <button type="submit" class="btn btn-success" @onclick="Guardar">Cargar Pago</button>
                </div>

            </div>

            <DataAnnotationsValidator />
        </div>
    </div>
</EditForm>


@code {

    [Parameter] public Suscripcion suscripcion { get; set; } = new Suscripcion();
    List<Categoria> Categorias = new List<Categoria>();
    private int categoriaId = 0;

    protected override async Task OnInitializedAsync()
    {
        await CargarCategorias();
    }
    async Task CargarCategorias()
    {
        Categorias = await Http.GetFromJsonAsync<List<Categoria>>("Categorias");
    }
    async Task Guardar()
    {
        await Http.PostAsJsonAsync("campos", suscripcion);
        NavManager.NavigateTo("/suscripciones");
    }
}
